/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Anton&family=IBM+Plex+Mono&display=swap");

/* CSS Variables */
:root {
  --color-background: rgba(0, 0, 0, 0.9); /* Pure Black */
  --color-foreground: rgb(255, 255, 255); /* Pure White */
  --color-accent: rgb(255, 140, 0); /* Dark Orange */
  --color-muted-orange: rgb(255, 165, 0); /* Standard Orange */
  --color-light-gray: rgb(211, 211, 211); /* Light Gray */
  --color-dark-gray: rgb(50, 50, 50); /* Dark Gray */
  --font-primary: "Anton", serif;
  --font-mono: "IBM Plex Mono", monospace;
  --margin: 32px;
  --gutter: 16px;
}

/* Layout Styles */
.header {
  position: fixed;
  top: 0;
  left: var(--gutter);
  right: var(--gutter);
  padding: 1rem 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: var(--gutter);
  margin-top: 4rem;
}

.sidebar {
  width: 30%;
  padding: var(--margin) 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.main-content {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--margin);
  font-family: var(--font-mono);
  text-transform: uppercase;
}

/* Component Styles */
header .logo {
  font-size: 1.5rem;
  line-height: 1;
  font-family: var(--font-mono);
  color: var(--color-accent);
}

.logo sup {
  font-size: 1.5rem;
}

.description {
  font-size: 0.85rem;
  line-height: 1.4;
  margin-bottom: 2.5rem;
  max-width: 360px;
  font-family: var(--font-mono);
}

.nav-links {
  display: flex;
  flex-direction: column;
  font-family: var(--font-mono);
}

.nav-links a {
  color: var(--creamy-light);
  text-decoration: none;
  margin-bottom: 1rem;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: var(--creamy-light) !important;
}

.division {
  margin-top: 2rem;
  font-family: var(--font-mono);
  font-size: 0.7rem;
  opacity: 0.8;
}

/* Link Styles */
a {
  color: var(--creamy-light);
}

/* Menu Styles */
.nav__toggle {
  position: relative;
  cursor: pointer;
  z-index: 1100;
  font-family: var(--font-mono);
  color: var(--color-accent);
  text-transform: uppercase;
}

.nav__toggle-state--close {
  display: none;
  color: var(--creamy-light);
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100vh;
  background-color: var(--color-background);
  backdrop-filter: contrast(0.8) blur(7px) url(#fluted);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 900;
  transform: translateY(-100%);
}

.menu.open {
  transform: translateY(0);
}

.menu__content {
  width: calc(100% - (2 * var(--gutter)));
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100%;
  padding: 2rem 0;
}

.menu__grid {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gutter);
}

.menu__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  grid-column: span 3;
}

.menu__column p {
  width: 100%;
  font-family: var(--font-mono);
  font-size: 0.75rem;
  text-transform: uppercase;
  line-height: 1.2;
  color: var(--creamy-light);
}

.menu__nav {
  display: flex;
  flex-direction: column;
}

.menu__footer-link {
  font-family: var(--font-mono);
  text-decoration: none;
  font-size: 4rem;
  margin-bottom: 0.5rem;
  opacity: 1;
  position: relative;
  display: block;
  text-transform: uppercase;
  letter-spacing: -0.03em;
  overflow: hidden;
}

.menu__divider {
  width: 50%;
  height: 4px;
  background-color: var(--color-accent);
  margin: 1rem 0;
}

.double-hover {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.double-hover span {
  display: block;
}

.double-hover span:nth-of-type(2) {
  position: absolute;
  top: 0;
  left: 0;
}

.signal {
  text-align: left;
  max-width: 6ch;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
